body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h1, h2 {color: pink;}
.evenrow {background-color: purple;}
h1 {font-size: 2.5em;}
h2 {font-size: 1.5em;}
table, th, td {border: 1px solid black;}